@{
    ViewBag.Title = "Error Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error Page</h2>

<p>
    Uups something went wrong. Sorry for that. Please try again.
</p>

<a href="javascript:history.go(-1);">Back</a>

