@{
    ViewBag.Title = "Upload file is too large";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload file is too large</h2>

<p>
    You cannot upload a file that large.  The largest file that
    you can upload is 2 MB
</p>

<a href="javascript:history.go(-1);">Back</a>

