@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Uups something went wrong. Sorry for that. Please try again.</h2>
<a href="javascript:history.go(-1);">Back</a>

