@{
    ViewBag.Title = "Home Page";
}

<article id="firstPage">
    <header>
        <h1>Reza Alexandria Winqvist</h1>
    </header>
    <div>
        <span>Born: 14.07.2014</span><br />
        <span>Time: 9:26</span><br />
        <span>lenght: 50 cm</span><br />
        <span>Weight: 3290 g</span>        
    </div>
    
    <div id="slideshow">
        <ul id="slides">
            <li><img src="~/Content/Images/Slider/Reza_slider_1.jpg" alt="" /></li>
            <li><img src="~/Content/Images/Slider/Reza_slider_2.jpg" alt="" /></li>
            <li><img src="~/Content/Images/Slider/Reza_slider_5.jpg" alt="" /></li>
            <li><img src="~/Content/Images/Slider/Reza_slider_7.jpg" alt="" /></li>
        </ul>
    </div>
</article>
