
@{
    ViewBag.Title = "Index";
}

<h2>Growth</h2>

<div id="growth1">
    <article>
        <p id="growthHeader">14.07.2014</p>
        <span>Lenght: 50 cm</span><br />
        <span>Weight: 3290 g</span>     
    </article><br />
    <article>
        <p id="growthHeader">30.07.2014</p>
        <span>Lenght: 52,4 cm</span><br />
        <span>Weight: 3640 g</span>
    </article><br />
    <article>
        <p id="growthHeader">21.08.2014</p>
        <span>Lenght: 55,4 cm</span><br />
        <span>Weight: 4855 g</span>
    </article><br />
    <article>
        <p id="growthHeader">16.09.2014</p>
        <span>Lenght: 57,5 cm</span><br />
        <span>Weight: 6135 g</span>
    </article><br />
    <p id="more1">More</p>
</div>
<div id="growth2">
    <article>
        <p id="growthHeader">17.10.2014</p>
        <span>Lenght: 61 cm</span><br />
        <span>Weight: 7,2 kg</span>
    </article><br />
    <article>
        <p id="growthHeader">18.11.2014</p>
        <span>Lenght: 65 cm</span><br />
        <span>Weight: 7,7 kg</span>
    </article><br />
    <article>
        <p id="growthHeader">19.12.2014</p>
        <span>Lenght: 66,5 cm</span><br />
        <span>Weight: 8,2 kg</span>
    </article><br />
    <p id="back1">Back</p>
</div>


