@model RezaBaby.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@if (User.Identity.IsAuthenticated)
{
    <h3>Are you sure you want to delete this album?</h3>
    <div>
        <h2>@Model.AlbumName</h2>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
}
