@{
    ViewBag.Title = "Gallery";
}

<div id="GalleryPortrate">
    <div id="slideshow">
        <h2>Gallery</h2>
        @*<p id="gallery2">Show Gallery Two</p>*@

        <ul id="galleryPort">
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_1.jpg" alt="" /></li>
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_2.jpg" alt="" /></li>
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_3.jpg" alt="" /></li>
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_4.jpg" alt="" /></li>
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_5.jpg" alt="" /></li>
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_6.jpg" alt="" /></li>
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_7.jpg" alt="" /></li>
        </ul>
        <div id="nextPrev">
            <ul id="nav">
                <li id="prev"><a href="#">Previous</a></li>
                <li id="next"><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="GalleryLandscape">
    <div id="slideshow">
        <h2>Gallery 2</h2>
        <p id="gallery1">Show Gallery One</p>

        <ul id="galleryPort">
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_1.jpg" alt="" /></li>
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_2.jpg" alt="" /></li>
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_3.jpg" alt="" /></li>
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_4.jpg" alt="" /></li>
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_5.jpg" alt="" /></li>
            <li><img src="~/Content/Images/GalleryPort/GalleryPort_6.jpg" alt="" /></li>
        </ul>
        <div id="nextPrev">
            <ul id="nav">
                <li id="prev"><a href="#">Previous</a></li>
                <li id="next"><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>